*{
    margin: 0;
    padding: 0;
    font-family: 'MYRIADPRO';
    font-size: 97%;
}
h2 {
    font-size: 125%;
}
@font-face{
    src: url('font/MYRIADPRO-REGULAR.OTF');
    font-family: 'MYRIADPRO';
}
.rang-cua{
    width: 100%;
}
.fa-2x{
    color: rgb(31, 31, 31);
}
#rang-cua {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #b3cad4;
    position: relative;
    top: -5px;
    left: 0;
}
input{
    width: 60%;
    height: 25px;
    border: none; 
}
#input-add{
    width: 60%;
    border: none; 
}
.left{
    float: left;
}
.ba-cot h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
.right{
    float: right;
}
header{
    width: 100%;
    margin-top: 3%;
    position: relative;
    height: 65px;
}
.inline{
    display: inline-block;
}
header ul li{
    list-style: none;
    padding-left: 3%;
    float: left;
    width: 10%;
}
header ul{  
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    line-height: 35px;
    height: 35px;
    margin: 0 auto;
    width: 40%;
    position: absolute;
    left: 32%;
}
#li-img{
    position: relative;
    width: 40%;
}
header ul li img{
    width: 85%;
}
header ul li:hover{
    color: lightcoral;
    font-size: 85%;
}
.ct-small h3:hover{
    color: rgb(159, 74, 255);
}
.ba-cot .ct-small span{
    font-size: 110%;
    margin-top: 5%;
    width: 20%;
}
.ba-cot .ct-small span a{
    margin-left: 5%;
    color: rgb(88, 88, 88) !important;
    text-decoration: none;
}
.ba-cot .ct-small span> a:hover{
    color: rgb(253, 127, 148) !important;
}
.ba-cot .ct-small p{
    clear: both;
}
section{
    background-color: rgb(234, 240, 243);
}
article{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
article p{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 41, 94);
    padding-top: 15%;
}
.ba-cot{
    width: 27%;
    margin-left: 55px;
}
.ba-cot img{
    width: 100%;
    border-radius: 5px;
}
footer{
    width: 100%;
}
.both{
    clear: both;
}
.ba-cot .ct-small{
    padding-top: 50px;
}
.ba-cot .ct-small h3{
    padding: 10px 0;
}
#end-content{
    width: 100%;
    clear: both;
    padding: 40px 0 60px 0;
    text-align: center;
}
aside{
    width: 80%;
    margin: auto;
}
aside .left{
    width: 50%;
    padding: 50px 0;
}
aside h2{
    color: rgb(0, 41, 94);
}
aside p{
    padding-top: 20px;
}
aside .right{
    width: 40%;
    padding: 50px 0;
}
aside .right span a{
    text-decoration: none;
    font-size: 200%;
    padding: 30px 20px 0 0;
}
aside .right span a:hover{
    color: rgb(0, 182, 182);
}
footer{
    color: rgba(255, 255, 255, 0.979);
    width: 100%;
    background-color: rgb(179, 202, 212);
}
#footer-small{
    padding: 50px 0 0 10%;
}
footer p{
    padding: 20px 0 10px 0;
}
footer button{
    margin: 30px 0 50px 0;
    width: 6%;
    height: 25px;
    background-color: rgba(0, 153, 255, 0.911);
    border: none;
    color: white;
    border-radius: 5px;
}
footer button a{
    color: white;
    text-decoration: none;
}
/* desktop big */
@media all and (min-width: 1200px){
    
}
/* desktop */
@media all and (max-width: 992px){
    .ba-cot {
        margin-left: 4%;
    }
    .width-992{
        display: none;
    }
    #rang-cua{
        top: -5px;
    }
    article p{
        margin: 0 20px;
    }
}
/* tablet */
@media all and (max-width: 768px){
    .ba-cot {
        width: 45%;
        margin-left: 3%;
    }
    .ba-cot .ct-small{
        width: 100%;
    }
    #cot-end{
        width: 100%;
        margin: 0;
    }
    #cot-end .ct-small{
        width: 45%;
        margin-left: 3%;
    }
    header ul{
        width: 53% !important;
        left: 25%;
    }
    header ul li{
        font-size: 60%;
        width: 9%;
    }
    .width-768{
        display: none;
    }
}
/* smartphone */
@media all and (max-width: 576px){
    .ba-cot {
        width: 95%;
        margin-left: 3%; 
    }
    #cot-end .ct-small{
        width: 95%;
        margin-left: 3%; 
    }
    footer button{
        width: 10%;
    }
    #end-content p{
        margin: 0 20px;
    }
    header ul .none{
        display: none;
    }
    header ul li img{
        margin-left: -50%;
    }
    header ul{
        border: none;
    } 
    #li-img {
        width: 70%;
        margin-left: 30%;
    }
    .width-576{
        display: none;
    }
    article h3{
        margin: 20px;
    }
}