*{
    margin: 0;
    padding: 0;
    font-family: 'MYRIADPRO';
}
.left{
    float: left;
}
.right{
    float: right;
}
@font-face{
    src: url('font/MYRIADPRO-REGULAR.OTF');
    font-family: 'MYRIADPRO';
}
.container{
    width: 80%;
    margin: 50px auto 0px auto;
}
a{
    text-decoration: none;
}
header li{
    list-style: none;
}
header{
    background-image: url('images/header/bg.jpg');
    background-repeat: no-repeat;
    height: 50px;
}
#menu .menu-lv1{
    float: left;
    color: white;
    position: relative;
    height: 49px;
    padding: 0px 15px;
}
li{
    cursor: pointer;
}
/* #menu ul{
    width: 100%;
} */
#menu .menu-lv1 a{
    color: white;
    font-size: 75%;
}
.in-hoa{
    text-transform: uppercase;
}
#menu .menu-lv1  #menu-dm{
    margin-top: 10%;
    text-align: center;
}
#menu .menu-lv1  #menu-dm .fa-list-ul{
    font-size: 15px;
    padding-bottom: 5px
}
#menu-img{
    text-align: center;
}
#menu-img:hover{
    background-color: #5b9e1b;
} 
.danh-muc:hover{
    background-color: #5b9e1b;
}
#menu .menu-lv1 .fa-search{
    font-size: 150%;
    position: absolute;
    top: 10px;
    right: 15px;
    padding-left: 25px;
}
#menu .menu-lv1 input{
    width: 600px;
    height: 40px;
    position: absolute;
    left: -616px;
    top: 2px;
    display: none;
    font-size: 15px;
}
#menu .menu-lv1:hover input{
    display: block;
}
#icon{
    width: 20px;
    margin-left: 10px;
    float: left;
    color: white;
    position: relative;
    text-align: center;
    height: 49px;
    padding: 0 14px;
}
#menu ul .thanh-doc{
    margin-left: -29px;
    border-right: 1px solid rgb(223, 214, 214);
}
#menu{
    margin-left: 8%;
}
/* end - header */

section #content{
    width: 67%;
}
section #ads{
    width: 30%;
}
section a{
    color: black !important;
}
section #content .tin-nho-1{
    width: 100%;
}
section #content .tin-nho{
    width: 47%;
    float: left;
    margin: 0 15px 15px 0;
    font-size: 14px;
}
section #content .imgads{
    padding: 10px 0;
    width: 671px;
}
#content .tin-nho .tieude{
    padding: 2px 5px;
    background-color: #7ab245;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 3px;
}
#content .tin-nho .tieude-small{
    padding: 1px 10px;
    background-color: #dedede;
    margin-right: 5px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
}
#content .tin-nho .tieude a{
    color: white !important;
}
#content .tin-nho h3{
    clear: both;
}
#content .tin-nho p > .left{
    width: 120px;
    height: 100px;
}
#content .tin-nho .right{
    margin-left: 10px;
    width: 180px;
    height: 115px;
}
#content .tin-nho-nd{
    clear: both;
    background-color: #eaf8d2;
    padding: 10px;
}
#content .tin-nho li{
    padding-bottom: 5px;
    margin-left: 12px;
    color: #6ca832;
}
#content .tin-nho i{
    margin-top: 5px;
    color: #7ab245;
}
#content .tin-nho .o-tieu-de{
    height: 110px;
}
#content .tin-nho .thanh-tieu-de{
    height: 55px;
}
#content .tin-nho .imgads-small{
    width: 313px;
}
#content .tin-nho a:hover{
    color: #528a1e !important;
    text-decoration: underline;
}
#content .tin-nho .tieude a:hover{
    color: rgba(255, 255, 255, 0.842) !important;
}

.thanh-video-ngang{
    width: 100%;
    height: 2px;
    background-color: #528a1e;
    margin: 10px 0;
}
.thanh-video-doc{
    width: 1px;
    height: 345px;
    background-color: gray;
    margin: 0 10px 0 13px;
    float: left;
    margin-bottom: 15px;
}
#vi-deo-chon-loc #vi-deo{
    width: 56%;
}
#vi-deo-chon-loc #cot-video{
    width: 40%;
    height: 345px;
    overflow: auto;
}
#vi-deo-chon-loc .video-small a{
    width: 48%;
}
#vi-deo-chon-loc .video-small{
    padding-bottom: 10px;
}
#vi-deo-chon-loc a>p:hover{
    color: #528a1e;
}
#vi-deo-chon-loc h3:hover{
    color: #528a1e;
}
#vi-deo-chon-loc #tieu-de-video h2:hover{
    color: #f3701e;
    cursor: pointer;
}
#vi-deo-chon-loc #tieu-de-video h2{
    font-weight: bold;
    font-size: 18px;
    color: #528a1e;
}
#menu-content ul li{
    list-style: none;
    float: left;
    height: 65px;
    padding: 0 10px;
}
#menu-content ul{
    height: 65px;
}
#menu .menu-lv1 a p img{
    padding-top: 7px;
}
#menu-content{
    width: 98%;
    clear: both;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}
#menu-content ul li p{
    text-align: center;
    padding: 0 5px;
}
#menu-content ul li:hover{
    background-color: rgb(255, 194, 169);
}
#menu-content img{
    padding-top: 10px;
}
.dan-chu{
    margin: 10px 0;
}

.tin-to{
    width: 100% !important;
}
#content .tin-to .thanh-tieu-de {
    height: 0px;
    margin-bottom: 33px;
}
#content .tin-to .right {
    width: 78%;
}
#content .tin-to .tin-nho-nd {
    margin-top: 10px;
    background-color: white;
    padding: 0;
}
#content .tin-to h3 {
    padding-bottom: 5px;
}
#content .tin-to a > img{
    width: 20%;
    clear: both;
}
.tin-to{
    margin-bottom: 50px !important;
}
/* end- section */

article{
    clear: both;
    padding-top: 20px;
}
article h2 > a{
    color: #ef7930;
}
article h2 > a:hover{
    color: #528a1e;
}
article #ar-tin-tuc{
    background-color: #fff1d9;
    height: 230px;
    margin-top: 20px;
    border-top: 2px solid #ef7930;
}
article #ar-tin-tuc a{
    color: black;
}
article #ar-tin-tuc a:hover{
    color: #e25700;
}
article #ar-tin-tuc .tin-tuc-small{
    width: 100%;
    height: 100px;
    font-size: 15px;
}
article #ar-tin-tuc .tin-tuc{
    width: 20%;
    padding: 20px 10px 20px 35px;
}
article #ar-tin-tuc .tin-tuc-small p{
    width: 48%;
    margin-left: 10px;
}
article #ar-tin-tuc .tin-tuc-small img{
    width: 45%;
    border-radius: 5px;
}
article #ar-tin-tuc .tin-tuc-small img:hover{
    border-radius: 5px;
    border: 2px solid white;
}
#ar-icon{
    clear: both;
}
.icon{
	width: 50px;
	height: 50px;
	background: rgb(187, 186, 186);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	--border-radius: 25px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    margin-left: 10px;
}
.icon span > a{
    color: white !important;
}
#home{
    background-color: #78b43d !important;
}
/* end - article */

#ft-tin-tuc ul{
    background-color: #ebebeb;
    height: 115px;
    font-size: 14px;
    margin-top: 60px;
}
#ft-tin-tuc ul li{
    float: left;
    list-style: none;
    margin: 20px -170px 0 210px;
}
#ft-tin-tuc ul li p{
    margin-top: 5px;
}
#ft-menu{
    background-color: #78b43d;
    height: 25px;
    padding-left: 33%;
}
#ft-menu ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    line-height: 25px;
}
#ft-menu ul li span > a:hover{
    color: #ffb588 !important;
}
#ft-menu a{
    color: white !important;
}
#ft-end{
    color: rgb(87, 87, 87);
    height: 150px;
    width: 80%;
    margin: auto;
}
#ft-end p{
    margin: 30px 0 20px 0;
}
/* end - footer */

#ads .thi-truong{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}
#ads .thi-truong .thi-truong-sm{
    margin-top: 10px;
}
#ads .thi-truong .thi-truong-sm a{
    width: 60%;
}
#ads .img-ads-full{
    width: 300px;
}
#ads .img-ads-sm{
    width: 110px;
}
#ads .thi-truong h2 > a{
    color: #528a1e !important;
}
#dn-text{
    font-weight: bold;
}
#ads .thi-truong .thi-truong-sm a > p{
    margin-top: 5px;
}
#ads .thi-truong ul{
    clear: both;
    margin-left: 18px;
}
#ads .thi-truong ul li{
    padding: 5px 0;
}
#ads .thi-truong #phai-dep{
    color: #d2577e !important;
}
#ads .thi-truong #ulli-phai-dep li{
    color: #d2577e;
}
.img-fixed{
    position: relative;
    overflow: hidden;
}

#parent-lv2{
    background-color: #82c940 ;
    position: absolute;
    width: 140px;
    top: 9px;
    left: -59px;
}
#parent-lv2{
    line-height: 25px;
    font-size: 17px;
    text-transform: none;
    display: none;
    position: relative;
    text-align: left;
}
#parent-lv2 .menu-lv2 a{
    color: black;
    padding-left: 5px;
}
#parent-lv2 .menu-lv2 a > i{
    color: white !important;
    font-size: 10px;
    padding: 0 5px;
}
#parent-lv2 .menu-lv2:hover{
    background-color: #61a720;
}
#parent-lv3 .menu-lv3:hover{
    background-color: #61a720;
}
#hover-loi:hover #parent-lv2{
    display: block;
}
#menu-img:hover{
    width: auto;
}
#hover-loi:hover{
    width: 60px !important;
}
#parent-lv3{
    display: none;
    position: absolute;
    top: 26px;
    right: -124px;
    background-color: #78c432 ;
}
.menu-lv2:hover #parent-lv3{
    display: block;
}
.menu-lv2{
    border-bottom: 1px solid #69a52e;
}
.menu-lv3{
    border-bottom: 1px solid #69a52e;
}